<p id="notice"><%= notice %></p>

<h1>Property Nests</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_nests.each do |property_nest| %>
      <tr>
        <td><%= property_nest.property %></td>
        <td><%= link_to 'Show', property_nest %></td>
        <td><%= link_to 'Edit', edit_property_nest_path(property_nest) %></td>
        <td><%= link_to 'Destroy', property_nest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property Nest', new_property_nest_path %>
