<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property %>
    <%= f.text_field :property %>
  </div>

  <div class="field">
    <%= f.label :rent %>
    <%= f.text_field :rent %>
  </div>

  <div class="field">
    <%= f.label :adress %>
    <%= f.text_field :adress %>
  </div>

  <div class="field">
    <%= f.label :building_age %>
    <%= f.text_field :building_age %>
  </div>

  <div class="field">
    <%= f.label :remarks %>
    <%= f.text_area :remarks %>
  </div>
  <hr>
<h2> The nearest realway Line 1 </h2>
  <div class="field">
    <%= f.label :name_of_railway_line %>
    <%= f.text_field :name_of_railway_line %>
  </div>

  <div class="field">
    <%= f.label :statation_name %>
    <%= f.text_field :statation_name %>
  </div>

  <div class="field">
    <%= f.label :how_many_minutes_walks %>
    <%= f.text_field :how_many_minutes_walks %>
  </div><h2> The nearest realway Line 2</h2>
  <div class="field">
    <%= f.label :name_of_railway_line1 %>
    <%= f.text_field :name_of_railway_line1 %>
  </div>

  <div class="field">
    <%= f.label :statation_name1 %>
    <%= f.text_field :statation_name1 %>
  </div>

  <div class="field">
    <%= f.label :how_many_minutes_walks1 %>
    <%= f.text_field :how_many_minutes_walks1 %>
  </div>

  <div class="actions">
    <%= f.submit value:"Register"%>
  </div>
<% end %>
