<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Rent</th>
      <th>Adress</th>
      <th>Building age</th>
      <th>Remarks</th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.property %></td>
        <% PropertyNest.all.each do |props|%>
          <%if property.id == props.property_id%>
            <td><%= props.rent %>Rwf</td>
            <td><%= props.adress %></td>
            <td><%= props.building_age %>year/years</td>
            <td><%= props.remarks %></td>
          <%end%>
        <%end%>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
