<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property.property %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @property.adress %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @property.building_age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>
<hr>
<h2> The nearest station 1 </h2>
<p>
  <strong>Name of railway line:</strong>
  <%= @property.name_of_railway_line %>
</p>

<p>
  <strong>Statation name:</strong>
  <%= @property.statation_name %>
</p>

<p>
  <strong>How many minutes walks:</strong>
  <%= @property.how_many_minutes_walks %>
</p>
<h2> The nearest station 2 </h2>
<p>
  <strong>Name of railway line1:</strong>
  <%= @property.name_of_railway_line1 %>
</p>

<p>
  <strong>Statation name1:</strong>
  <%= @property.statation_name1 %>
</p>

<p>
  <strong>How many minutes walks1:</strong>
  <%= @property.how_many_minutes_walks1 %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
